@use '../constants' as *;

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -9999;
  min-height: 50vh;
  background-image: url('../../public/images/muziek.jpeg');
  background-size: cover;
  // background-position: center bottom;
  background-position-x: center;
  background-position-y: bottom;
}

.image {
  // width: auto;
  // height: 100%;
  object-fit: cover;
  // object-position: center bottom;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(c('light'), 0%), rgba(c('light'), 100%));
}
