@use '../constants' as *;

.container {
  padding: s('m');

  margin-bottom: s('xl');
  background-color: rgba(c('light'), 0.7);

  display: grid;
  grid-template-columns: 1fr minmax(min-content, 70ch) 1fr;

  & > * {
    grid-column: 2 / -2;
  }

  & > * + *,
  section > * + * {
    margin-top: $margin-top;
  }

  @include media('m') {
    max-width: 90ch;
    margin-right: auto;
    margin-left: auto;
    padding: s('xxxl') 0;
    border-radius: s('xxxs');

    // grid-template-columns: 1fr minmax(min-content, 70ch) 1fr;

    // & > * {
    //   grid-column: 2 / -2;
    // }
  }
}
