@use '../constants' as *;

.container {
  padding: s('m');

  margin-bottom: s('xl');
  background-color: rgba(c('light'), 0.7);
  border-radius: s('xxxs');

  & > * + *,
  section > * + * {
    margin-top: $margin-top;
  }

  @include media('m') {
    padding: s('xl');
  }
}
