@use '../constants' as *;

.header {
  z-index: 99;

  @include media('m') {
    position: sticky;
    top: 0;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: c('dark');
  color: c('white');
  @include shadow;

  transform: translateX(100%);
  transition: all 300ms ease;

  a {
    text-decoration: none;
  }

  @include media('m') {
    transform: translateX(0);
    position: static;
    justify-content: space-between;
    align-items: stretch;
    height: $nav-height;
  }
}

.navLinkList {
  text-align: center;
  width: 100%;

  @include block-text;

  & > li > a,
  & > li > div > span,
  & > li > div > ul > li > a {
    display: inline-block;
    padding: s('s');
  }

  @include media('m') {
    width: auto;
    display: flex;

    & > li {
      display: flex;
    }

    & > li > a,
    & > li > div {
      display: flex;
      align-items: center;
    }

    & > li > a,
    & > li > div > span {
      padding: 0 s('s');
    }
  }
}

.showMenu {
  transform: translateX(0);
}
