@use '../constants' as *;

.header {
  z-index: 99;
  touch-action: none;
  background-color: c('dark');

  @include media('m') {
    position: sticky;
    top: 0;
    @include shadow;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: c('dark');
  color: c('white');

  transform: translateX(100%);
  transition: all 300ms ease;

  a {
    text-decoration: none;
  }

  @include media('m') {
    transform: translateX(0);
    position: static;
    justify-content: space-between;
    align-items: stretch;
    height: $nav-height;
    width: 80%;
    margin: 0 auto;
  }
}

.navLinkList {
  text-align: center;
  width: 100%;

  @include block-text;

  & > li > a,
  & > li > button {
    display: inline-block;
    padding: s('s') s('m');
  }

  & > li > ul > li > a {
    display: block;
    padding: s('s') s('m');
  }

  @include media('m') {
    width: auto;
    display: flex;

    & > li {
      display: flex;
      transition: all 250ms ease;

      &:hover {
        background-color: lighten(c('dark'), 5%);
      }
    }

    & > li > a {
      display: flex;
      align-items: center;
    }

    & > li > a {
      padding: 0 s('m');
    }
  }
}

.showMenu {
  transform: translateX(0);
}
