@use '../constants' as *;

.introText {
  padding: s('xxl') s('xs');
  max-width: 30ch;
  margin: 0 auto;
  color: c('dark');
  font-weight: 900;
  text-align: center;
  line-height: 1.4;
  @include font-size('xl');
  text-shadow: -1px 1px 2px c('light');
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  gap: s('s');
  margin-top: s('s');
}
