@use '../constants' as *;

.link {
  display: none;
  align-items: center;
  padding: 0 s('s');

  span {
    @include font-size('l');
    font-weight: 600;
  }

  @include media('m') {
    display: flex;
  }
}
