@use '../constants' as *;

.link {
  display: none;
  align-items: center;
  padding: 0 s('m');

  transition: all 250ms ease;

  &:hover {
    background-color: lighten(c('dark'), 5%);
  }

  span {
    @include font-size('l');
    font-weight: 600;
  }

  @include media('m') {
    display: flex;
  }
}
