@use '../constants' as *;

.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(s('s'), 1fr) minmax(min-content, 61ch) minmax(
      s('s'),
      1fr
    );

  & > * {
    grid-column: 2 / -2;
  }
}
