@use '../constants' as *;

.videoWrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  @include shadow;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.caption {
  font-style: italic;
  margin-top: s('xs');
}
