@use './fonts';
@use './constants' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: c('light');

  @include media('m') {
    scroll-padding-top: $nav-height;
  }
}

body {
  font-family: 'Mulish', sans-serif;
  @include font-size('m');
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: c('dark');
}

.bold {
  font-weight: 700;
}

a {
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}
