@use './fonts';
@use './constants' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  @include font-size('m');
  font-weight: 400;
  line-height: 1.6;
  color: c('black');
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
